/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  }

/* Background overlay */
.modal {
position: fixed;
inset: 0;
background: rgba(0,0,0,0.6);
display: flex;
align-items: center;
justify-content: center;
}

/* Card */
.login-card {
background: #ffffff;
padding: 35px 30px;
width: 320px;
border-radius: 12px;
box-shadow: 0 12px 30px rgba(0,0,0,0.25);
text-align: center;
}

/* Title */
.login-card h2 {
margin-bottom: 20px;
font-weight: 600;
}

/* Inputs */
.input-group {
margin-bottom: 15px;
}

.input-group input {
width: 100%;
padding: 12px;
border-radius: 6px;
border: 1px solid #ccc;
outline: none;
font-size: 14px;
transition: 0.2s;
}

.input-group input:focus {
border-color: #007bff;
}

/* Password + forgot */
.password-group {
position: relative;
}

.forgot {
position: absolute;
right: 10px;
top: 50%;
transform: translateY(-50%);
font-size: 11px;
color: #007bff;
cursor: pointer;
}

/* Login button */
.main-login-btn {
width: 100%;
padding: 12px;
border: none;
background: #007bff;
color: white;
font-weight: bold;
border-radius: 6px;
margin-top: 5px;
cursor: pointer;
transition: 0.2s;
}

.main-login-btn:hover {
background: #005ecb;
}

/* Divider */
.divider {
margin: 20px 0;
display: flex;
align-items: center;
text-align: center;
}

.divider::before,
.divider::after {
content: "";
flex: 1;
border-bottom: 1px solid #ccc;
}

.divider span {
padding: 0 10px;
font-size: 12px;
color: #666;
}

/* Social buttons */
.social-buttons button {
width: 100%;
padding: 10px;
border-radius: 6px;
border: none;
margin-bottom: 10px;
font-weight: bold;
cursor: pointer;
}

/* Google */

.main-login-btn {
background: #1877f2;
border: 1px solid #ccc;
}

.g1-icon {
font-weight: bold;
margin-right: 8px;
}

.google-btn {
background: #1877f2;
border: 1px solid #ccc;
}

.g-icon {
font-weight: bold;
margin-right: 8px;
}

/* Facebook */
.facebook-btn {
background: #1877f2;
color: white;
}

.f-icon {
font-weight: bold;
margin-right: 8px;
}
