/* Reset + Font */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  }

/* Background overlay */
.modal {
position: fixed;
inset: 0;
background: linear-gradient(135deg, #abe2a6, #23c03d);
display: flex;
align-items: center;
justify-content: center;
}

/* Card */
.login-card {
background: #fff;
width: 340px;
padding: 35px 28px;
border-radius: 14px;
box-shadow: 0 15px 40px rgba(0,0,0,0.25);
text-align: center;
}

/* Titles */
.login-card h2 {
margin-bottom: 18px;
color: #333;
font-weight: 900;
}

/* Inputs */
.input-group {
margin-bottom: 15px;
}

.input-group input {
width: 100%;
padding: 12px 14px;
border-radius: 7px;
border: 1px solid #ccc;
font-size: 14px;
outline: none;
transition: 0.25s;
}

.input-group input:focus {
border-color: #4a6cf7;
box-shadow: 0 0 0 2px rgba(74,108,247,0.15);
}

/* Forgot */
.password-group {
position: relative;
}

.forgot {
position: absolute;
right: 10px;
top: 50%;
transform: translateY(-50%);
font-size: 11px;
font-weight: 700;
color: #4a6cf7;
cursor: pointer;
}

/* Main buttons */
.main-login-btn {
width: 100%;
padding: 10px;
border: none;
border-radius: 7px;
background: #23c03d;
color: white;
font-weight: 900;
cursor: pointer;
margin-top: 3px;
transition: 0.25s;
}

/* Allow anchor inside button to look correct */
.main-login-btn a {
color: white;
text-decoration: none;
display: block;
padding: 1px;
}

.main-login-btn:hover {
background: #76d06e;
}

/* Divider */
.divider {
margin: 20px 0;
display: flex;
align-items: center;
}

.divider::before,
.divider::after {
content: "";
flex: 1;
border-bottom: 1px solid #ddd;
}

.divider span {
padding: 0 12px;
font-size: 12px;
font-weight: 700;
color: #777;
}

/* Social buttons layout */
.social-buttons {
margin-top: 10px;
display: flex;
flex-direction: column;
gap: 10px;
}

/* Google button */
.google-btn g_id_signin {
width: 100%;
padding: 10px;
border-radius: 7px;
border: 1px solid #23c03d;
background: #23c03d;
color: rgb(103, 230, 92);
font-weight: 800;
cursor: pointer;
}

.google-btn g_id_signin:hover {
background: #76d06e;
}

.g-icon {
margin-right: 8px;
font-weight: 900;
}

/* Responsive */
@media (max-width: 400px) {
.login-card {
width: 90%;
}
}
